.description-container {
  display: none;
  flex-direction: column;
  justify-content: center;
}


.description-text {
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.curriculum-container {
  margin-top: 50px;
}

.curriculum-url {
  padding: 10px 36px;
  background-color: cornflowerblue;
  border-radius: 20px;
  font-size: 16px;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}