.description-container {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.curriculum-container {
  margin-top: 50px;
}

.curriculum-url {
  padding: 5px 36px;
  background-color: #1c81b3;
  border-radius: 5px;
  font-size: 16px;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}