.experience-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.scroll-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}


.icon {
  height: 48px;
  height: 48px;
}

.animated-icon {
  animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}