.resources-container {
  display: none;
  flex-direction: column;
  justify-content: start;
}


.resources-text {
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}


.card-resource {
  background-color: #5179bdb6;
  border-radius: 15px;
  z-index: 10;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #5178bd;
  text-decoration: none;
}

.card-resource:hover {
  border: 1px solid rgba(46, 60, 81, 0.9);
}

.disabled {
  filter: grayscale();
  cursor: not-allowed;
}

@media (width <=800px) {
  .resource-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px;
  }

  .card-resource-size {
    height: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (800px <=width <=1280px) {
  .resource-group {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px;
  }

  .card-resource-size {
    height: 50px;
    width: 150px;
    padding: 10px;
  }
}

@media (width >=1280px) {
  .resource-group {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px;
  }

  .card-resource-size {
    height: 50px;
    width: 150px;
    padding: 10px;
  }
}