.welcome-container {
  z-index: 10;
  display: flex;
  height: calc(100svh - 60px);
}
.photo {
  border-radius: 100%;
  overflow: hidden;
  background-image: url("../images/photo.jpg");
  background-size: cover;
}

.full-welcome {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  height: 150px;
  width: 150px;
  border: 2px solid white;
  margin: 30px;
}

.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0px; */
}

.brand-container img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.brand-link {
  font-size: medium;
  font-family: 'Barlow Condensed';
}

.rol {
  font-size: 1.1rem;
  font-family: 'Barlow Condensed';
  color: #7285a5;
}

.header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 56px;
  z-index: 10;
  color: #929292;
  background-color: aliceblue;
  display: none;
}

.image-container-header {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  margin: 0px;
}