---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Map from '../components/Map.astro'
import Welcome from '../components/Welcome.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Welcome/>
		<Map/>
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		font-size: 20px;
		line-height: 1.6;
	}
</style>

<script>

import { slide } from '../store.js';

const FIRST_SLIDE = 0
const THREESHOLD_SCROLL = 200
const LAST_SLIDE = 3

document.addEventListener("DOMContentLoaded", function (event) {
	//event listeners for desktoop scrolls
	let initialScrollUp = 0
	let initialScrollDown = 0
	document.addEventListener('wheel', (event: WheelEvent) => {
		initialScrollDown = event.deltaY < 0 ? initialScrollDown -= event.deltaY : initialScrollDown
		initialScrollUp = event.deltaY > 0 ? initialScrollUp += event.deltaY : initialScrollUp

		if(initialScrollUp > THREESHOLD_SCROLL ){
			if ( slide.value != LAST_SLIDE) updateSlide( 1 )
			initialScrollUp = 0
			initialScrollDown = 0
		}

		if(initialScrollDown > THREESHOLD_SCROLL ){
			if ( slide.value != FIRST_SLIDE) updateSlide( -1 )
			initialScrollDown = 0
			initialScrollUp = 0
		}

		//console.log(initialScrollUp, initialScrollDown)

	})

	//event listener for smartphone touches	
	let initialPosition = FIRST_SLIDE
	document.addEventListener('touchstart', (event: TouchEvent) => {
		initialPosition = event.targetTouches[0].screenY
	})

	document.addEventListener('touchend', (event: TouchEvent) => {
		const deltaPosition = event.changedTouches[0].screenY - initialPosition
		if(deltaPosition > 0	) {
			if ( slide.value != FIRST_SLIDE) updateSlide( -1 )
		}else {
			if ( slide.value != LAST_SLIDE) updateSlide( 1 )
		}
	})

	document.addEventListener('touchmove', (event: TouchEvent) => event.preventDefault())
})

function updateSlide( delta: number ){
	slide.set( slide.get() + delta)
}
</script>
