---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Map from '../components/Map.astro'
import Welcome from '../components/Welcome.astro';
import Description from '../components/Description.astro';
import Experience from '../components/Experience.astro';
import WorkAlcaldia from '../components/WorkAlcaldia.astro';
import WorkUnivalle from '../components/WorkUnivalle.astro';
import WorkGobernacion from '../components/WorkGobernacion.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Miguelon Coder">
	<main id="main">
		<Contact/>
		<Welcome/>
		<Description/>
		<WorkAlcaldia/>
		<WorkUnivalle/>
		<WorkGobernacion/>
		<div id="filter" class="filter"></div>
		<Map/>
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100svh;
		font-size: 20px;
		line-height: 1.6;
	}
</style>

<script>

import { slide } from '../store.js';

const FIRST_SLIDE = 0
const THREESHOLD_SCROLL = 340
const LAST_SLIDE = 5

document.addEventListener("DOMContentLoaded", function (event) {
	//event listeners for desktoop scrolls
	let initialScrollUp = 0
	let initialScrollDown = 0
	const main = document.getElementById('main')
	document.body.addEventListener('wheel', (event: WheelEvent) => {
		initialScrollDown = event.deltaY < 0 ? initialScrollDown -= event.deltaY : initialScrollDown
		initialScrollUp = event.deltaY > 0 ? initialScrollUp += event.deltaY : initialScrollUp

		if(initialScrollUp > THREESHOLD_SCROLL ){
			if ( slide.value != LAST_SLIDE) {
				updateSlide( 1 )
				console.log(slide.value)
			}
			initialScrollUp = 0
			initialScrollDown = 0
		}

		if(initialScrollDown > THREESHOLD_SCROLL ){
			if ( slide.value != FIRST_SLIDE) {
				updateSlide( -1 )
				console.log(slide.value)
			}
			initialScrollDown = 0
			initialScrollUp = 0
		}

		//console.log(initialScrollUp, initialScrollDown)

	})

	//event listener for smartphone touches	
	let initialPosition = FIRST_SLIDE
	document.body.addEventListener('touchstart', (event: TouchEvent) => {
		initialPosition = event.targetTouches[0].screenY
	})

	document.body.addEventListener('touchend', (event: TouchEvent) => {
		const deltaPosition = event.changedTouches[0].screenY - initialPosition
		if(deltaPosition > 50	) {
			if ( slide.value != FIRST_SLIDE) updateSlide( -1 )
		}
		if(deltaPosition < -50){
			if ( slide.value != LAST_SLIDE) updateSlide( 1 )
		}
	})

	document.body.addEventListener('touchmove', (event: TouchEvent) => event.preventDefault())
})

function updateSlide( delta: number ){
	slide.set( slide.get() + delta)
}
</script>
