---
import "../styles/card.css";

interface Props {
	title: string;
	body: string;
	href: string;
	skills: Array<string>;
}

const { href, title, body, skills } = Astro.props;
---

<div class="card card-container">
	<div class="title-container">
		<h3>{title}</h3>
	</div>
	<div class="body-container">
		<p>{body}</p>
	</div>
	<div class="footer-card">
	<div class="link-container">
		<a class="link" href={href}>Ver proyecto</a>
	</div>
	<div class="skills-container">
		<ul class="list-skills">
			<li>
				<img class="img-skill" src="./images/gas.png" alt="">
			</li>
			<li>
				<img class="img-skill" src="./images/python.png" alt="">
			</li>
			<li>
				<img class="img-skill" src="./images/js.png" alt="">
			</li>
			<li>
				<img class="img-skill" src="./images/postgres.png" alt="">
			</li>
		</ul>
	</div>
	</div>

</div>
