---
import "../styles/description.css";
---

<div
  id="container-description"
  class="container container-slide description-container "
>
  <div class="description-text">
    <div>
      <p id="description-2" class="sentece animated">
        Ingresé a la Universidad del Valle en el 2013, donde inicié con la
        programación aplicada para el <span class="highlight"
          >análisis geoestadístico</span
        >, las <span class="highlight">bases de datos espaciales</span> y el desrrollo
        de
        <span class="highlight">aplicaciones móviles</span>.
      </p>
      <p id="description-2" class="sentece animated">
        He trabajado en grandes proyectos de <span class="highlight"
          >inventario de infraestructura urbana</span
        >, en la docencia impartiendo cursos de <span class="highlight"
          >sistemas de información geográfica</span
        >,
        <span class="highlight">análisis geoestadístico</span> y programación en
        general. Participé en la creación de
        <span class="highlight"
          >portales de realidad virtual y aumentada, y</span
        >
        actualmente soy desarrollador web fullstack freelancer y me encuentro trabajando
        en proyectos de interés personal para el sector inmobiliario.
      </p>
    </div>
    <div id="curriculum" class="curriculum-container animated">
      <a
        id="curriculum-url"
        class="curriculum-url"
        target="_blank"
        href="https://drive.google.com/file/d/1PZcg50Dtjt0GNL52GoTsNBwXQMPyo-DD/view?usp=drive_link"
      >
        Ver currículo en pdf</a
      >
    </div>
  </div>
</div>
<script>
  import { slide, titleSlide, sharedMap } from "../store.js";
  import { ANIMATION_DURATION, SlideNumber } from "../constants";
  import { clearMap } from "../utilities/clearMap";

  document.addEventListener("DOMContentLoaded", function (event) {
    const container = document.getElementById("container-description");
    sharedMap.subscribe((map) => {
      slide.subscribe((_slide) => {
        if (_slide === SlideNumber.Description) {
          updateMap();

          titleSlide.set("Acerca");
          
            container!.style.display = "flex";
        } else {
          container!.style.display = "none";

        }
      });

      function updateMap() {
        map.animateTo(
          {
            zoom: 13,
            center: [-76.514926, 3.404456],
            pitch: 60,
            bearing: 0,
          },
          {
            duration: ANIMATION_DURATION,
            easing: "out",
          },
          function (frame) {
            if (frame.state.playState === "finished") {
              console.log("animation 1 finished");
            }
          }
        );
        clearMap(map, "");
      }
    });
  });
</script>
