---
import "../styles/description.css";
---

<div
  id="container-description"
  class="container container-slide description-container "
>
  <div class="description-text">
    <div>

      <p id="description-2" class="sentece animated">
        Egresado de la Universidad del Valle, con formación en la
        programación aplicada para el
         <span class="highlight">análisis geoestadístico</span>
         , las 
        <span class="highlight">bases de datos espaciales</span> 
        y el desarrollo de
        <span class="highlight">aplicaciones de mapas en la web y móviles</span>.
      </p>

      <!-- <p id="description-2" class="sentece animated">
        Con participación en grandes proyectos de 
        <span class="highlight">inventario de infraestructura urbana</span>. 
        Con experiencia en la docencia, dictando cursos de 
        <span class="highlight"> sistemas de información geográfica</span>,
        <span class="highlight">análisis de datos con geoestadística</span> y 
        <span class="highlight">cartografía digital</span>
        . También cuento conExperiencia como desarrollador Frontend en la creación de
        <span class="highlight">portales de realidad virtual y aumentada.</span>
      </p> -->
      <p class="sentece animated">
        Tengo <span class="highlight">+4</span> años en el desarrollo de software y actualmente trabajo como freelancer, 
        desarrollando aplicaciones desde la <span class="highlight">arquitectura de software</span>, hasta su 
        <span class="highlight">implementación</span> y <span class="highlight">despliegue.</span>
        En este ejercicio he contado con clientes como la Secretaría del Deporte y la Recreación de la Ciudad de Cali.
      </p>
    </div>
    <div id="curriculum" class="curriculum-container animated">
      <a
        id="curriculum-url"
        class="curriculum-url"
        target="_blank"
        href="https://drive.google.com/file/d/1xC8tj3ijsABEGLTuF4qshxMUwu3nNmHE/view?usp=drive_link"
      >
        Ver currículo en pdf</a
      >
    </div>
  </div>
</div>
<script>
  import { slide, titleSlide, sharedMap } from "../store.js";
  import { ANIMATION_DURATION, SlideNumber } from "../constants";
  import { clearMap } from "../utilities/clearMap";

  document.addEventListener("DOMContentLoaded", function (event) {
    const container = document.getElementById("container-description");
    sharedMap.subscribe((map) => {
      slide.subscribe((_slide) => {
        if (_slide === SlideNumber.Description) {
          updateMap();

          titleSlide.set("Acerca");
          
            container!.style.display = "flex";
        } else {
          container!.style.display = "none";

        }
      });

      function updateMap() {
        map.animateTo(
          {
            zoom: 13,
            center: [-76.514926, 3.404456],
            pitch: 60,
            bearing: 0,
          },
          {
            duration: ANIMATION_DURATION,
            easing: "out",
          },
          function (frame) {
            if (frame.state.playState === "finished") {
              console.log("animation 1 finished");
            }
          }
        );
        clearMap(map, "");
      }
    });
  });
</script>
