---
import '../styles/description.css'
---
<div id="container-description" class="container container-slide description-container animated">
  <h1 id="title-rol" class="title-1">Soy</h1>
  <p id="description" class="title-3 animated">
    Ing. topográfico y desarrollador web fullstack.
  </p>
  <p id="description-2" class="sentece animated">
    Apasionado por el desarrollo web con enfasis en el front-end, web mapping, bases de datos espaciales y la creacion de entornos 360 interactivos.
  </p>
  <div id="curriculum" class="curriculum-container animated">
    <a
      id="curriculum-url"
      class="curriculum-url"
      target="_blank"
      href="https://drive.google.com/file/d/1PZcg50Dtjt0GNL52GoTsNBwXQMPyo-DD/view?usp=drive_link"
    >
      Ver currículo en pdf</a
    >
  </div>
</div>
<script>
  import { slide } from "../store.js";

  document.addEventListener("DOMContentLoaded", function (event) {
    const container = document.getElementById("container-description");
    slide.subscribe((_slide) => {
      if (_slide === 1) {
        console.log(_slide, "show");
        document.startViewTransition(() => {
          container!.style.display = "flex";
          container!.style.opacity = '1';
        });
      } else {
        console.log(_slide, "hide");
        document.startViewTransition(() => {
          container!.style.display = "none";
          container!.style.opacity = '0';
        });
      }
    });
  });
</script>
