---
---

<div id="map"></div>
<style is:global>
  #map {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .maptalks-attribution {
    color:slategrey;
    font-size: small;
  }
  .maptalks-attribution span a {
    color: #1c81b3;
    text-decoration: none !important;
    font-size: small;
  }
</style>
<script>
  import * as maptalks from "maptalks";

  document.addEventListener("DOMContentLoaded", function (event) {
    const map = new maptalks.Map("map", {
      center: [-76.3, 3.45],
      zoom: 14,

      //static map options
      scrollWheelZoom : false,
      dragPan  : false,
      
      baseLayer: new maptalks.TileLayer("base", {
        urlTemplate:
          'https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png',
        subdomains: ["a", "b", "c", "d"],
        attribution:
          `&copy; 
          <a  href="http://osm.org">OpenStreetMap</a> 
          contributors, &copy; 
          <a  href="https://carto.com/">CARTO</a>`,
      }),
    });
    console.log(map);
  });
</script>
