---
---

<div id="map"></div>
<style is:global>
  #map {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .maptalks-attribution {
    color: slategrey;
    font-size: small;
  }
  .maptalks-attribution span a {
    color: #1c81b3;
    text-decoration: none !important;
    font-size: small;
  }
</style>
<script>
  import * as maptalks from "maptalks";
  import { slide } from "../store.js";

  document.addEventListener("DOMContentLoaded", function (event) {
    const map = new maptalks.Map("map", {
      center: [-76.3, 3.45],
      zoom: 14,

      //static map options
      scrollWheelZoom: false,
      dragPan: false,

      baseLayer: new maptalks.TileLayer("base", {
        urlTemplate:
          "https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png",
        subdomains: ["a", "b", "c", "d"],
        attribution: `&copy; 
          <a  href="http://osm.org">OpenStreetMap</a> 
          contributors, &copy; 
          <a  href="https://carto.com/">CARTO</a>`,
      }),
    });

    slide.subscribe((_slide) => {
      switch (_slide) {
        case 1:
          slide1();
          break;
        case 2:
          slide2();
          break;
        case 3:
          slide3();
          break;
        default:
          null;
      }
    });

    function slide1() {
      map.animateTo(
        {
          zoom: 13,
          center: [-76.4, 3.45],
          pitch: 30,
          bearing: 60,
        },
        {
          duration: 1000,
          easing: "in",
        },
        function (frame) {
          if (frame.state.playState === "finished") {
            console.log("animation 1 finished");
          }
        }
      );
    }

    function slide2() {
      map.animateTo(
        {
          zoom: 13,
          center: [-76.2, 3.45],
          pitch: 30,
          bearing: 10,
        },
        {
          duration: 1000,
          easing: "in",
        },
        function (frame) {
          if (frame.state.playState === "finished") {
            console.log("animation 2 finished");
          }
        }
      );
    }

    function slide3() {
      map.animateTo(
        {
          zoom: 13,
          center: [-76.6, 3.45],
          pitch: 30,
          bearing: 100,
        },
        {
          duration: 1000,
          easing: "in",
        },
        function (frame) {
          if (frame.state.playState === "finished") {
            console.log("animation 3 finished");
          }
        }
      );
    }
  });
</script>
