---
import '../styles/map.css'
---

<div id="map"></div>
<div id="maptalks-attribution-2" class="maptalks-attribution-2 attribution-responsive">
  <img class="img-attribution" src="./images/icon-maptalks.png" alt="">
  <img class="img-attribution" src="./images/icon-openstreetmap.png" alt="">
  <img class="img-attribution" src="./images/icon-carto.png" alt="">
</div>
<script>
  import * as maptalks from "maptalks";

  import {  sharedMap } from "../store.js";


  document.addEventListener("DOMContentLoaded", function (event) {
    const map = new maptalks.Map("map", {
      center: [-76.514926, 3.404456],
      zoom: 14,

      //static map options
      scrollWheelZoom: false,
      dragPan: false,

      baseLayer: new maptalks.TileLayer("base", {
        urlTemplate:
          "https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png",
        subdomains: ["a", "b", "c", "d"],
        attribution: `&copy; 
          <a  href="http://osm.org">OpenStreetMap</a> 
          contributors, &copy; 
          <a  href="https://carto.com/">CARTO</a>`,
      }),
    });

    sharedMap.set(map)

  });
</script>
