---
import "../styles/now.css";
---

<div
  id="container-now"
  class="container container-slide now-container"
>
  <div class="now-text">
    <div>
      <p id="now-2" class="sentece animated">
        Trabajo como desarrollador freelancer, implementando una aplicación para el sector inmobiliario y generando contenido 
        de caracter educativo en Medium y Github. 
      </p>
      <ul class="library-group">
        <a href="https://medium.com/@mr.develop411" target="_blank" class="card-library card-library-size">
          <img src="./images/medium2.png" alt="" />
          <span>Medium</span>
        </a>
        <a class="card-library card-library-size" href="https://github.com/miguelonCoder" target="_blank">
          <img src="./images/github.png" alt="" />
          <span>Github</span>
        </a>
      </ul>
    </div>
  </div>
  <script>
    import { slide, titleSlide, sharedMap } from "../store.js";
    import { ANIMATION_DURATION, SlideNumber } from "../constants";
    import { clearMap } from "../utilities/clearMap";

    document.addEventListener("DOMContentLoaded", function (event) {
      const container = document.getElementById("container-now");
      sharedMap.subscribe((map) => {
        slide.subscribe((_slide) => {
          if (_slide === SlideNumber.Now) {
            updateMap();

            titleSlide.set("Actualmente");

            container!.style.display = "flex";
          } else {
            container!.style.display = "none";
          }
        });

        function updateMap() {
          map.animateTo(
            {
              zoom: 13,
              center: [-76.514926, 3.404456],
              pitch: 60,
              bearing: 0,
            },
            {
              duration: ANIMATION_DURATION,
              easing: "out",
            },
            function (frame) {
              if (frame.state.playState === "finished") {
                console.log("animation 1 finished");
              }
            }
          );
          clearMap(map, "");
        }
      });
    });
  </script>
</div>
