---
import "../styles/now.css";
---

<div
  id="container-now"
  class="container container-slide now-container"
>
  <div class="now-text">
    <div>
      <p id="now-2" class="sentece animated">
        Me ncuentro laborando en la modalidad de freelancer y en mis tiempos
        libres llevo a cabo el desarrollo de una aplicación para el sector
        inmobiliario. Durante este tiempo he expandido mi stack de desarrollo y 
        realizo colaboaciones con la librería de mapas Maptalks, dando como resultado 
        dos librerías que pronto verán la luz:
      </p>
      <ul class="library-group">
        <a href="https://github.com/miguelonCoder/react-maptalks" target="_blank" class="card-library card-library-size">
          <img src="./images/r-maptalks.png" alt="" />
          <span>React Maptalks</span>
        </a>
        <a class="disabled card-library card-library-size">
          <img src="./images/a-maptalks.png" alt="" />
          <span>Angular Maptalks</span>
        </a>
      </ul>
    </div>
  </div>
  <script>
    import { slide, titleSlide, sharedMap } from "../store.js";
    import { ANIMATION_DURATION, SlideNumber } from "../constants";
    import { clearMap } from "../utilities/clearMap";

    document.addEventListener("DOMContentLoaded", function (event) {
      const container = document.getElementById("container-now");
      sharedMap.subscribe((map) => {
        slide.subscribe((_slide) => {
          if (_slide === SlideNumber.Now) {
            updateMap();

            titleSlide.set("Actualmente");

            container!.style.display = "flex";
          } else {
            container!.style.display = "none";
          }
        });

        function updateMap() {
          map.animateTo(
            {
              zoom: 13,
              center: [-76.514926, 3.404456],
              pitch: 60,
              bearing: 0,
            },
            {
              duration: ANIMATION_DURATION,
              easing: "out",
            },
            function (frame) {
              if (frame.state.playState === "finished") {
                console.log("animation 1 finished");
              }
            }
          );
          clearMap(map, "");
        }
      });
    });
  </script>
</div>
