---
import "../styles/now.css";
---

<div
  id="container-now"
  class="container container-slide now-container"
>
  <div class="now-text">
    <div>
      <p id="now-2" class="sentece animated">
        Me ncuentro laborando en la modalidad de freelancer y en mis tiempos
        libres llevo a cabo el desarrollo de una aplicaci'on para el sector
        inmobiliario, para lo cual estoy colaborando con
      </p>
      <div id="curriculum" class="curriculum-container animated">
        <a
          id="curriculum-url"
          class="curriculum-url"
          target="_blank"
          href="https://drive.google.com/file/d/1PZcg50Dtjt0GNL52GoTsNBwXQMPyo-DD/view?usp=drive_link"
        >
          Ver currículo en pdf</a
        >
      </div>
    </div>
  </div>
  <script>
    import { slide, titleSlide, sharedMap } from "../store.js";
    import { ANIMATION_DURATION, SlideNumber } from "../constants";
    import { clearMap } from "../utilities/clearMap";

    document.addEventListener("DOMContentLoaded", function (event) {
      const container = document.getElementById("container-now");
      sharedMap.subscribe((map) => {
        slide.subscribe((_slide) => {
          if (_slide === SlideNumber.Now) {
            updateMap();

            titleSlide.set("Actualmente");

            container!.style.display = "flex";
          } else {
            container!.style.display = "none";
          }
        });

        function updateMap() {
          map.animateTo(
            {
              zoom: 13,
              center: [-76.514926, 3.404456],
              pitch: 60,
              bearing: 0,
            },
            {
              duration: ANIMATION_DURATION,
              easing: "out",
            },
            function (frame) {
              if (frame.state.playState === "finished") {
                console.log("animation 1 finished");
              }
            }
          );
          clearMap(map, "");
        }
      });
    });
  </script>
</div>
