---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" sizes="any" href="/miguelon-coder.svg" type="image/svg+xml"/>
		<link rel="stylesheet" href="./styles/styles.css" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:url"                content="https://migueloncoder.github.io/miguelon-portafolio/" />
<meta property="og:type"               content="portafolio" />
<meta property="og:title"              content="Portafolio @miguelonCoder" />
<meta property="og:description"        content="Bienvenido a mi portafolio como desarrollador Fullstack @miguelonCoder" />
<meta property="og:image"              content="https://raw.githubusercontent.com/miguelonCoder/miguelon-portafolio/main/public/images/og-image.jpg" />

		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,500;1,300&family=Red+Hat+Display:wght@300;400;500;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<slot />
		</div>
	</body>
</html>
